.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: white;
    margin: 1.5rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 600px;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    box-sizing: border-box;
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-5px);
}

.certificateContainer {
    width: 100%;
    max-width: 400px; /* Ensure the certificate image doesn't exceed a reasonable size */
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.certificateImage {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensure the image fits within the container nicely */
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title, .organization {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--foreground);
}

.award {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color: var(--accent-color);
    font-weight: bold;
}

.awardDate {
    font-size: 1rem;  /* 적절한 크기로 설정 */
    color: #666;  /* 색상을 지정해서 명확하게 표시 */
    margin-top: 0.5rem;  /* 여백 추가 */
}
