/* EducationCard.module.css */

/* 공통 카드 스타일 */
.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

/* 카드 호버 효과 */
.card:hover {
    transform: translateY(-5px);
}

/* 로고 컨테이너 */
.logoContainer {
    width: 90px; /* 크기를 조금 더 키워서 가운데 정렬이 잘 되도록 조정 */
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem; /* 여백을 조금 늘려 텍스트와의 간격 조정 */
    background-color: #ffffff;
}

/* 로고 이미지 */
.logo {
    width: 80%;
    height: 80%;
    object-fit: contain; /* 이미지가 좀 더 균형 있게 보이도록 contain 사용 */
}

/* 카드 안의 정보 영역 */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 제목 스타일 */
.schoolName {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--foreground);
    margin-bottom: 0.25rem;
}

/* 기관명 스타일 */
.organization {
    font-size: var(--font-size-medium);
    color: #555;
    margin-bottom: 0.25rem;
}

/* 기간 스타일 */
.period {
    font-size: var(--font-size-small);
    color: #888;
}

/* 모바일 환경 스타일 */
@media (max-width: 600px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .logoContainer {
        margin: 0 auto 1rem auto; /* 로고를 중앙 정렬하고 하단에 여백 추가 */
    }

    .info {
        align-items: center; /* 카드 내부의 내용 중앙 정렬 */
    }
}

/* 태블릿 및 데스크탑 스타일 */
@media (min-width: 768px) {
    .card {
        flex-direction: row; /* PC에서는 가로로 정렬 */
    }

    .info {
        padding-left: 1rem; /* 여유 있는 패딩 추가 */
        text-align: left; /* 정보 텍스트 왼쪽 정렬 */
    }
}
