/* Header 영역 */
.header {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    padding: 30px; /* 여백 설정 */
    background-color: #7C001A; /* 헤더 배경색 */
    margin-bottom: 20px;
    color: white; /* 텍스트 색상 */
}

/* 모바일 환경에서 헤더 여백 조정 */
@media (max-width: 600px) {
    .header {
        padding: 20px;
        margin-bottom: 15px;
    }
}

/* 프로필 섹션 */
.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center; /* 자식 요소 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-bottom: 15px;
    width: 100%; /* 섹션이 전체 폭을 차지하도록 설정 */
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 원형 이미지 */
    margin-bottom: 15px; /* 이미지 아래 여백 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 이미지 강조 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.headerTitle {
    margin: 0;
    font-size: 1.5rem;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.headerText {
    margin: 0;
    font-size: 1rem;
    text-align: center; /* 텍스트 중앙 정렬 */
}
