/* TabContent.module.css */

.content {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 모바일 환경 스타일 */
@media (max-width: 600px) {
    .content {
        padding: 0.5rem;
        align-items: center; /* 카드들을 모바일에서 중앙 정렬 */
    }
}

/* 태블릿 및 데스크탑 스타일 조정 */
@media (min-width: 768px) {
    .content {
        padding: 2rem;
        align-items: stretch; /* 태블릿/데스크탑에서는 카드들이 더 넓게 보이도록 설정 */
        width: 70%;  /* 컨테이너의 너비를 조정하여 카드들이 여유롭게 펼쳐짐 */
        max-width: 1000px; /* 최대 너비 설정 */
    }

    .title {
        font-size: 2rem;
    }

    .list {
        font-size: 1rem;
    }
}


/* EducationCard.module.css */

/* 공통 카드 스타일 */
.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

/* 카드 호버 효과 */
.card:hover {
    transform: translateY(-5px);
}

/* 모바일 환경 스타일 */
@media (max-width: 600px) {
    .card {
        width: 90%;
        max-width: 400px; /* 모바일에서 최대 너비 설정 */
    }
}

/* 태블릿 및 데스크탑 스타일 */
@media (min-width: 768px) {
    .card {
        width: 100%; /* PC에서는 전체 너비 사용 */
        max-width: none; /* 너비 제한 해제 */
        margin-bottom: 1.5rem;
    }

    .logoContainer {
        width: 100px; /* 로고 크기 조정 */
        height: 100px;
    }

    .info {
        padding-left: 1rem; /* PC 환경에서 좀 더 여유 있는 padding 추가 */
    }
}
